<div class="posts-wall">
  <h2>🌸 Post Wall 🌸</h2>

  <!-- <div>
    <p>No hay publicaciones aún.</p>
  </div> -->

  <div class="post-card">
    <div class="post-header">
      <div [innerHTML]="userInformation"></div>
    </div>
     </div>
     
</div>

    

    <!-- <p>{{textIMG()}}</p> -->
    <!-- <img  [src]="imageURL()" alt="Imagen del post" /> -->

    <!-- <p>{{stored}}</p>
     <p>{{getUsersNames()}}</p> -->
     <!-- <p>{{getImagesofUsers()}}</p> -->
     <!-- <div [innerHTML]="getImagesofUsers()"></div> -->

  <!-- <div class="post-card" *ngFor="let object2 of posts">
    <small *ngIf="object2.fecha">{{ object2.fecha }}</small>
    <p>{{ object2.text }}</p>
    <img *ngIf="object2.image" [src]="object2.image" alt="img" style="max-width:200px" />
  </div> -->

  <!-- @for (porfiles of users; track users.userName){
    <small *ngIf="porfiles.fecha">{{ porfiles.fecha }}</small>
    <p>{{ object2.text }}</p>
    <img *ngIf="porfiles.image" [src]="porfiles.image" alt="img" style="max-width:200px" />
  } -->
